@import 'common';

.wrapper {
    @include flex-column();
    gap: 6px;
    padding: 0 $mobile-padding;
    color: $dark;

    @include mq(md) {
        gap: 10px;
        width: 30vw;
        padding: 0 0 0 $mobile-padding;
    }

    & .title {
        font-size: 28px;
        font-family: 'Open Sans', sans-serif;

        @include mq(md) {
            font-size: 40px;
        }
    }

    & .body {
        @include flex-column();
        @include body();
        align-items: flex-start;
        gap: 16px;
        padding: 0 $mobile-extra-padding;

        @include mq(md) {
            gap: 20px;
        }
    }
}
