@import '_variables';

@mixin mq($breakpoint) {
    @each $name, $size in $media {
        @if $breakpoint==$name {
            @media screen and (min-width: $size) {
                @content;
            }
        }
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin body {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;

    @include mq(md) {
        font-size: 14px;
        line-height: 22px;
    }

    @include mq(xl) {
        font-size: 15px;
        line-height: 26px;
    }
}
