$light: #e1dcd7;
$dark: #343434;

$media: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    xxl: 1536px,
    xxxl: 2000px,
);

$mobile-padding: 5vw;
$mobile-extra-padding: 22px;

$section: 'lg' 5vw 0 40vw 50vw, 'xl' 15vw 0 30vw 50vw, 'xxxl' 15vw 5vw 25vw 50vw;

$image-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
