@import 'common';

@mixin mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: $mobile-padding;
}

.wrapper {
    @include mobile();

    @include mq(md) {
        display: flex;
        align-items: center;
        height: 100px;
        width: 100%;
        padding: 0 calc((100vw - $desktop-content-width) / 2);
    }

    & .menu {
        position: fixed;
        inset: 0;
        background-color: $dark;
        transform: translateX(100%);
        transition: 0.4s;

        @include mq(md) {
            position: static;
            background-color: transparent;
            transform: translateX(0);
        }

        & .innerWrapper {
            @include mobile();

            @include mq(md) {
                display: none;
            }
        }

        & .list {
            @include flex-column();
            gap: 20px;
            padding: 0 $mobile-extra-padding;
            margin-top: 20px;
            color: $light;

            @include mq(md) {
                flex-direction: row;
                gap: 60px;
                margin-top: 0;
                transform: translateY(50%);
            }
        }
    }

    & .mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include mq(md) {
            & button {
                display: none;
            }
        }
    }
}

.open {
    & .menu {
        position: fixed;
        inset: 0;
        background-color: $dark;
        transform: translateX(0%);
    }
}
