@import 'common';

.wrapper {
    @include flex-column();
    width: 100%;
    gap: 25px;
    padding: 2vw $mobile-padding;

    @include mq(lg) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    @each $name, $big-padding, $small-padding in $section {
        @include mq($name) {
            padding: 5vw 0;
            padding-left: $big-padding;
            padding-right: $small-padding;
        }
    }

    .image {
        overflow: hidden;
        position: relative;
        height: calc((100vw - $mobile-padding) * 0.66);
        width: 100%;
        box-shadow: $image-shadow;

        @include mq(lg) {
            flex: 0 0 50vw;
            height: calc(50vw * 0.66);
            flex-shrink: 0;
            margin: 0;
        }
    }
}

.reverse {
    @include mq(lg) {
        flex-direction: row-reverse;

        @each $name, $big-padding, $small-padding, $content, $image in $section {
            @include mq($name) {
                padding-left: $small-padding;
                padding-right: $big-padding;
            }
        }
    }
}
